/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 75%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	height: 2px;
    border: none;
    background: $orange;
    margin: 3em 0 2em;
}

#container {
	overflow: hidden;
}

.no-hero, .search #content, .error404 #content {
	border-top: 2px solid $light-gray;
	
	.entry-content {
		padding-top: 2em;
	}
}

.arrow-up {
	width: 0;
	height: 0; 
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
	border-bottom: 5em solid black;
	position: absolute;
	bottom: 0;
	left: 2.5em;
	z-index: 10;
	@include transition(all 0.3s ease-in-out);

	&.reverse {
		transform: rotate(180deg);
		bottom: -2.5em;
		border-left: 3em solid transparent;
		border-right: 3em solid transparent;
		border-bottom: 3em solid black;
	}
	
	html[data-useragent*='MSIE 10.0'] &,
	.lt-ie9 & {
		display: none;
	}
}

.page-links {
	display: block;
	font-size: 90%;
	
	h2, p {
		color: $white;
	}
	
	h2 {
		font-weight: 800;
		margin: 11% 0 0 0;
		font-size: 3.5em;
		width: 100%;
		line-height: 1.1;
		background: url(../images/link-arrow-inverted.png) no-repeat center right;
		background-size: 30px;
    	padding-right: 40px;
		
		a {
			color: inherit;
		}
	}
	
	p {
		font-weight: 300;
		max-width: 80%;
		margin-right: 20%;
		margin-bottom: 1.5em;
		font-size: 1.75em;
		line-height: 1.3;
		
		a {
			color: inherit;
		}
	}
	
	a.link-arrow {
		display: block;
		max-width: 35px;
		margin-bottom: 20px;
	}
	
	a.image-anchor {
		display: block;
		font-size: 0;
		
		img {
			width: 100%;
		}
	}
	
	[class*="col-"] {
		position: relative;
		
		&:last-child {
			padding: 0 2.5em;
		}
	}
	
	&.reverse {
		[class*="col-"]:last-child {
			padding-top: 5em;
			padding-bottom: 5em;
		}
		
		p {
			font-weight: 900;
			max-width: none;
			margin: auto;
			line-height: 1.2;
			
			html[data-useragent*='MSIE 10.0'] &,
			.lt-ie9 & {
				padding-top: 10%;
			}
		}
	}
}

.featured-image {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 0;
	
	img {
		position: relative;
		width: 150%;
		max-width: none;
		left: -25%;
	}
	
	.page-title {
		background: $orange;
		opacity: 1;
		padding: 1rem;

		h1 {
			margin: 0;
			font-weight: 800;
			font-size: 2rem;
			line-height: 0.95;
			color: $white;
			
			.home & {
				font-size: 2.5rem;
			}
		}

		a {
			font-weight: 300;
			font-size: 0.8rem;
			margin: 0.4rem 0 0;
			display: block;
			color: $white;
			text-decoration: none;

			a:hover {
				border-bottom: 1px solid $white;
			}
		}

		.arrow-down {
			content: '';
			width: 0; 
			height: 0; 
			border-left: 5rem solid transparent;
			border-right: 5rem solid transparent;
			border-top: 5rem solid $orange;
			border-width: 5vw;
			position: absolute;
			bottom: -5rem;
			bottom: -4.8vw;
			left: 1.5rem;
			z-index: 10;
		}
		
		.single & {
			left: 2%;
			padding: 0.5rem;
			bottom: 3rem;
    		bottom: 3vw;
			
			h1 {
				font-size: 1.5rem;
			}
			
			.arrow-down {
				border-width: 3vw;
				bottom: -2.5rem;
    			bottom: -2.9vw;
			}
		}
	}
}

.extra-images {
	font-size: 0;
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
		width: 100%;
	}
}

ul.team {
	font-size: 0;
	margin: 4rem auto 2em;
	padding: 0;
	
	li {
		display: inline-block;
		width: 100%;
		padding: 15px;
		margin: 0;
		font-size: 1.2rem;
		text-align: center;
		
		p {
			font-weight: 100;
			
			b, strong {
				font-weight: 900;
				color: $orange;
			}
		}
	}
}

.acf-map {
	width: 100%;
    height: 37em;
	margin: 0.5em auto 2em auto;
	
	img {
	   max-width: inherit !important;
	}
}

.contact-details {
	ul {
		margin: 0;
		
		li {
			margin-bottom: 1.5em;
			list-style: none;
			
			a {
				color: $black;
				font-weight: 900;
				font-size: 1.5em;
				background-repeat: no-repeat;
				background-position: left center;
				background-size: 22px;
				padding-left: 40px;
				
				&.email {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAACXBIWXMAAAsSAAALEgHS3X78AAABOklEQVQ4y7WUTw7BQBTGewOncAdXcAU3sLaysGVrJbEVOzuxlFjZCRKJBQsiEU1D/ImiZtryTfLGtKpKmWTSTDPzfu+b773RXJuP3D8NhzNTs83tEIurPuWrQtJd5hKx575VkhCNbRZzWvCdbhvl9NeBkaDZb3pUCMC2kRcKhCzrxDe17FfBKQYGYkrAupoRG87jjiRDZtTgUO1cTJsSpFvwAGjzsVuXEMh95wsyRdAgHwMByiH2zvxDuxKazEvAk+z7VzXff50ABSUQCkAQa9Z71PRdEZTpxZTHTD88EgAHULJkmpqtWtJK5Ql4JIDfNGRMzcMPhoX/AEKhv+5RIKEA1TQK8mnnWvMBo3MSgMaKYlrYRJKknO8NhmuWAOdydOJ0MU21AAjmeezivEOv3qMHYDURZfmrSeMGl4ujBmSM+B0AAAAASUVORK5CYII=');
				}
				
				&.tel {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAaCAYAAACtv5zzAAAACXBIWXMAAAsSAAALEgHS3X78AAAA8UlEQVRIx7WVzQ3DIAyF2aAdoSMwAiNkhIxQqQtkhIzACBmBERghl96zATUSVFZEbAuHwzsB70P+NSklU/X9PCxoByVQAD3xeY+w+Qw6innVdgsAjKaTMdasAuQwNH6OdWhClQELYV711gCiABA0AM5clWwpoDvREsCqraIhP5ck2WvNK2AdDbAjGuw8KsKIBGOAIxLt7pqm25BZhADU0IscpOTSXgIEoWpCGnskYJC5eECNbie4m+9NTUB56JkOj8wO+U8CKqYcRCTDJE4NYctMCxHVcl6ZnQAvbphS50FonAtguawiBuSIrk/l7FXv/wDxuoD8tHiTJgAAAABJRU5ErkJggg==');
				}
				
				&.twitter {
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUCAYAAAB4d5a9AAAACXBIWXMAAAsSAAALEgHS3X78AAAA/ElEQVQ4y62V0Q2EIAyG3eAcwREcwREcwRFMbgFGcARHcARHYARffHcDriStabiCrfrwRwTsV36gViGEav9+mvjUCubXIAc6QAEV247NaUBTbFPHDBoMAM+Cp/Js3HHIhp2jAjIVAFxrjBeTpw/54BKzLUAOJYRWVUuQ098UBu+tFcDtWjITD9ov3EgLpKPkeIYWGzQ6TywdtfA2hNt8ZzM12iSI9lhqNUuQqwtmVf8HYaD5batSSPfSKlwWgqD1IcBLVUIqfk9A7SWEwYZCFcgpW8VzpXww3p3ib6LCQkhajMG3nEUppLlhjVilL+1C2IgbL63G4z3qNYG5fiYs3T9GgYFxAAAAAElFTkSuQmCC');
				}
			}
		}
	}
}

.job-vacancies {
    font-size: 80%;
	
	.vacancies {
		border-bottom: 1px solid $orange;
		padding: 1em 0;
	}
	
	p {
		margin-bottom: 1em !important;
	}
}

.location-cat {
	padding-right: 2em;
	
	a {
		display: block;
    	margin: 0.5em 0 0.3em;
		cursor: pointer;
		font-weight: 600;
    	font-size: 1.15em;
		color: $black;
		border-bottom: 2px solid $orange;
	}
	
	.location {
		max-height: 0px;
		overflow: hidden;
		@include transition(max-height 0.2s ease-in-out);
		
		span {
			display: inline-block;
			margin: 5px 0;
			
			&.left {
				float: left;
			}
			
			&.right {
				float: right;
				color: $orange;
			}
		}
	}
	
	&.active {
		.location {
			max-height: 100px;
		}
	}
}

.locations-map {
	position: relative;
	
	.active {
		fill: $orange;
	}
	
	svg {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	img {
		visibility: hidden;
		opacity: 0;
	}
}

img[src*=".svg"] {
  width: 100%; 
}

/********************
WORDPRESS BODY CLASSES
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog, .archive {
	[class*="col-"] {
		padding: 0;
	}
	
	.post {
		position: relative;
		
		img {
			width: 100%;
		}
		
		.post-data {
			padding: 1.5em 2.5em;
			
			.post-categories {
				margin: 0;
				
				li {
					display: inline-block;
					text-transform: uppercase;
					font-weight: 900;
				}
			}
			
			h2 {
				font-weight: 900;
				margin: 0;
				font-size: 1.35em;
				line-height: 1;
				min-height: 3em;
			}
			
			.read-more {
				font-weight: 100;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		
		.arrow-up {
			border-left: 2.5em solid transparent;
			border-right: 2.5em solid transparent;
			border-bottom: 2.5em solid $orange;
		}
		
		&.featured {
			font-size: 0;
			
			.post-data {
				font-size: 1rem;
				background: inherit;
				position: relative;
				
				h2 {
					color: $black;
					margin: 4px 0;
				}
				
				a {
					color: $white;
				}
				
				.arrow-up {
					top: -2.5em;
					margin-bottom: -1.3em;
				}
			}
			
			.post-image {
				img {
					position: relative;
					width: 150%;
					max-width: none;
					left: -25%;
				}
			}
		}

		&.main {
			.post-data {
				position: relative;
				
				.arrow-up {
					bottom: auto;
					top: -2.5em;
				}
				
				* {
					color: $white;
				}
			}
		}
	}
}

.archive .post,
.blog .post,
.single .page-title { background: $orange; }
.post .arrow-up { border-bottom-color: $orange;}
.single .arrow-down { border-top-color: $orange;}

.category-poultry {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $red; }
	&.post .arrow-up { border-bottom-color: $red;}
	.single & .arrow-down { border-top-color: $red;}
}

.category-farms {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $orange; }
	&.post .arrow-up { border-bottom-color: $orange;}
	.single & .arrow-down { border-top-color: $orange;}
}

.category-gu-desserts {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $yellow; }
	&.post .arrow-up { border-bottom-color: $yellow;}
	.single & .arrow-down { border-top-color: $yellow;}
}

.category-feed-milling {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $dark-blue; }
	&.post .arrow-up { border-bottom-color: $dark-blue;}
	.single & .arrow-down { border-top-color: $dark-blue;}
}

.category-eggs {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $light-blue; }
	&.post .arrow-up { border-bottom-color: $light-blue;}
	.single & .arrow-down { border-top-color: $light-blue;}
}

.category-our-business {
	.archive &.post,
	.blog &.post,
	.single & .page-title { background: $orange; }
	&.post .arrow-up { border-bottom-color: $orange;}
	.single & .arrow-down { border-top-color: $orange;}
}

.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
.search-result {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid $orange;
	
	&.hentry header {
		padding: 0 0 1em 0;
	}
}

	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $orange;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 255, 255, 255, 0.2 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3em;
	line-height: 1.333em;
	margin: 0 0 0.67em;
}

h2, .h2 {
	font-size: 2.5em;
	line-height: 1.4;
	margin: 0 0 0.25em;
}

h3, .h3 {
	font-size: 1.77em;
	margin: 0 0 0.5em;

	b, strong {
		font-weight: 900;
	}
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	
	&.menu-active {
		position: fixed;
		width: 100%;
    	height: 100%;
		z-index: 9999;
	}
}

#inner-header {
	position: relative;
	padding: 0;
}

#logo {
	width: 30%;
    max-width: 79px;
    display: block;
    margin: 0 auto;
	
	img {
		max-width: 100%;
	}

	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav-icons {
	position: absolute;
	top: 0;
	margin: 13px 16px;
	font-size: 0;
	color: transparent;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background-size: 300% !important;
	z-index: 999;
	transition: all 0.3s ease-in-out;
	
	&.menu-button {
		left: 0;
		background-image: url(../images/menu-icons.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		
		.menu-active & {
			background-position: 50% 0;
		}
	}
	
	&.search-button {
		right: 0;
		background: url(../images/menu-icons.png) no-repeat 100% 0;
	}
}

nav.main {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
    width: 100%;
    height: 100%;
	background: $white;
	padding: 68px 0;
	overflow-y: scroll;
    overflow-x: hidden;
	@include transition(all 0.3s ease-in-out);
	
	.menu-active & {
		visibility: visible;
		opacity: 1;
	}
}

.nav {
	border-bottom: 0;
	margin: 0;
	
	a:focus {
		outline: none;
	}
	
	&.socket-nav:not(.cloned) {
		display: none;
	}
	
	&.main-nav {
		
		li {
			list-style: none;

			a {
				display: block;
				font-weight: 600;
				color: $black;
				text-decoration: none;
				padding: 14px 0;
				margin: 0 52px;
				border-bottom: 1px solid #ccc;
				@include transition(all 0.2s ease-in-out);

				&:hover, &:focus {
				}
				
				&.active {
					color: $orange;
					border-bottom: none;
    				border-bottom-color: #ccc;
					
					+ ul.sub-menu {
						max-height: 400px;
					}
				}
			}

			&:first-child {}

			&:last-child {}

			ul.sub-menu,
			ul.children {
				@include transition(all 0.3s ease-in-out);
				background: $light-gray;
				overflow: hidden;
				max-height: 0;
				margin: 0;

				li {

					a {
						&:hover,
						&:focus {}

						&:link {}
						
						img, .sub {
							display: none;
						}

					}

					&:first-child {}

					&:last-child {
						a {
							border-bottom: none;
						}
					}

				}

			}
			
			&.menu-item-has-children > a {
				background-image: url(../images/submenu-icons.png);
				background-repeat: no-repeat;
				background-position: right 15px;
    			background-size: 22px;
				
				&.active {
					background-position: right -18px;
				}
			}

		} 
	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor,
	li.current-page-ancestor {

		a {
			color: $orange;
		}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

		.hentry {

			header {
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* style individual post classes */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 3em;
			
			&.arrow-content-title {
				padding-top: 0;
				padding-bottom: 0;
				
				h1 {
					margin-top: 0;
				}
			}

			p, li {
				margin: 0 0 1.5em;
				font-size: 1.4em;
				font-weight: 300;
				line-height: 1.4;
				
				b, strong {
					font-weight: 900;
				}
				
				a b, a strong {
					font-size: 1em;
				}
				
				.home & {
					font-size: 2em;
				}
				
				&:last-child {
					margin-bottom: 0;
				}
				
				+ h2 {
					margin-top: 1.2em;
				}
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {
				
				list-style: disc;
				padding-left: 1.4em;

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $alert-blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
		text-align: center;

		ul {
			display: inline-block;
			background-color: $white;
			white-space: nowrap;
			padding: 0;
			clear: both;
			border-radius: 3px;
		}

		li {
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;
			border-right: 1px solid $gray;
			
			&:last-child {
				border: none;
			}
		}

		a, span {
			margin: 0;
			text-decoration: none;
			padding: 0;
			line-height: 1em;
			font-size: 1em;
			font-weight: normal;
			padding: 0.75em;
			min-width: 1em;
			display: block;
			color: $orange;

			&:hover, &:focus {
				background-color: $orange;
				color: $white;
			}
		}

		.current{
			cursor: default;
			color: $text-color;

			&:hover, &:focus {
				background-color: $white;
				color: $text-color;
			}
		}

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar-wrapper {
	float: right;
}

.sidebar {}

	.widgettitle {
		border-bottom: 1px solid $orange;
		margin-bottom: 0.75em;
		font-weight: 100;
		font-size: 1.5em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.9em;

				&:first-child {}
				&:last-child {}
				a {
					font-weight: 900;
					font-size: 1.35em;
					color: $black;
					&:before {
						content: '> ';
					}
					&:hover {
						text-decoration: underline;
					}
				}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $orange;
	color: $light-gray;
	padding: 1.5em 2.5em;
}

.footer-links {
	float: none;
	text-align: center;

	ul {

		li {
			margin: 0 0.75em;
			display: inline-block;
			
			a {
				color: $white !important;
				text-transform: none;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

} /* end .footer-links */


.copyright {
	text-align: center;
	float: none;
	margin: 20px 0 0;
}

/*********************
OVERRIDE STYLES
*********************/

#content {
	.metaslider {
		.caption-wrap {
			width: 39%;
			background: $orange;
			opacity: 1;
			padding: 2em;
			bottom: 5em;
    		left: 10%;

			.caption {
				margin: 0;
				font-weight: 800;
				padding: 0;

				h1 {
					margin: 0;
					font-weight: 800;
					font-size: 6em;
    				font-size: 6.5vw;
					line-height: 0.95;
					color: $white;
				}
				
				span {
					font-weight: 300;
					font-size: 2em;
    				font-size: 2.3vw;
					margin: 0.4em 0 0.5em;
					display: block;
					color: $white;
					
					a:hover {
						border-bottom: 1px solid $white;
					}
				}
				
				a {
					color: inherit;
					text-decoration: none;
				}
			}
			
			&:after {
				content: '';
				width: 0; 
				height: 0; 
				border-left: 5em solid transparent;
				border-right: 5em solid transparent;
				border-top: 5em solid $orange;
				position: absolute;
				bottom: -5em;
				left: 3.5em;
				z-index: 10;
			}
		}
	}
}